POSTGRES_DB=face_stream
POSTGRES_USER=face_stream
POSTGRES_PASSWORD=face_stream
POSTGRES_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=5173
APP_DATABASE_URL=postgresql+psycopg://face_stream:face_stream@postgres:5432/face_stream
APP_CORS_ORIGINS=["http://localhost:5173"]
